.project-img {
    height: 200px;
}

.background-icon {
    color: #343a40;
}

.project-link:hover .background-icon {
    color: rgb(35, 39, 43);
}

.project-link:active .background-icon {
    color: rgb(29, 33, 36);
}

.top-icon {
    color: white;
}

.about-button {
    font-size: 1.5rem;
}

.description-card {
    font-size: 1.25rem;
}

.description-card a {
    font-family: "EB Garamond", serif;
}